* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "letra";
  src: url(../fonts/DanburySmall_PERSONAL_USE_ONLY.otf); }

.encabezado .img1 {
  width: 1850px;
  height: 700px; }

.encabezado .navbar {
  justify-items: center; }

.encabezado .navbar li {
  display: inline-block;
  margin-right: 5px; }
  .encabezado .navbar li nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    font-family: "letra";
    border: 1px solid #000000;
    gap: 15px;
    text-decoration: underline;
    background-image: linear-gradient(#000000, #FFFF00);
    animation-name: mianimacion;
    animation-duration: 5s;
    animation-iteration-count: infinite; }

@keyframes mianimacion {
  0% {
    background: #FF0000;
    left: 0;
    top: 0px; }
  25% {
    background: #0000FF;
    left: 300px;
    top: 0px; }
  50% {
    background: #FFFF00;
    left: 300px;
    top: 300px; }
  75% {
    background: #FFA500; }
  100% {
    background: #FF0000; } }
  .encabezado .navbar li .bg-propio {
    background-image: linear-gradient(#000000, #FFFF00);
    position: fixed;
    flex-direction: column; }
  .encabezado .navbar li nav-item a {
    color: white !important; }
  .encabezado .navbar li .nav-item a:hover {
    color: var(white) !important; }
  .encabezado .navbar li .navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 30px); }

.container_grid {
  background-image: linear-gradient(#FFA500, #000000);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px; }
  .container_grid .container_grid {
    color: #FFFFFF; }
  .container_grid .container_grid .img1 {
    height: 800px;
    width: 2050px; }
  .container_grid .container_grid .img2 {
    height: 900px;
    width: 1000px; }
  .container_grid .container_grid .img3 {
    width: 1000px; }

.seccion2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .seccion2 .contenedor1 img {
    width: 50%;
    height: 50%; }
  .seccion2 .section2 h3 {
    text-transform: uppercase;
    color: #FFFFFF; }
  .seccion2 .section2 {
    background-image: linear-gradient(#000000, #FF0000); }
    .seccion2 .section2 .texto {
      position: absolute;
      left: 50%;
      top: 180%;
      color: #FFFFFF;
      text-transform: uppercase;
      font: 'arial'; }
    .seccion2 .section2 .texto1 {
      text-transform: uppercase;
      color: #FFFFFF; }
    .seccion2 .section2 .bg-propio {
      background-image: linear-gradient(#000000, #FFA500);
      position: fixed;
      flex-direction: column; }

.pie-de-pagina {
  background-image: linear-gradient(#FF0000, #FFA500);
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px; }
  .pie-de-pagina .pie-de-pagina h4 {
    font-size: 1.3rem;
    grid-area: contactos; }
  .pie-de-pagina .pie-de-pagina h2 {
    grid-area: copy; }
  .pie-de-pagina .imgf {
    display: flex;
    height: 100px;
    width: 100px; }
