* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "letra";
    src: url(../fonts/DanburySmall_PERSONAL_USE_ONLY.otf);
}





.container_grid{
    background-image: linear-gradient(orange,black);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;

}

.container_grid{
  color: white;
}

 .img1{
    height: 800px;
    width: 2050px; 
   
 }   


.img2{
    height: 500px;
    width: 1000px;
}


.img3{
    width: 1000px;
}

.seccion2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contenedor1 img{
    width: 50%;
    height: 50%;
}

.section2 h3{
    
    text-transform: uppercase;
    color: rgb(241, 233, 233);
    

}

.section2{
    background-image: linear-gradient(black, red);
}
.texto{
    position: absolute;
    left: 50%;
    top: 180%;
    color: white;
    text-transform: uppercase;
    font: 'arial';

}

.texto1{
text-transform: uppercase;
color: white;

}


.bg-propio{
    background-image: linear-gradient(black, orange);
    position: fixed;
    flex-direction: column;
}


nav-item a {
    color: white!important;
}

.nav-item a:hover{
    color: var(white)!important;
}



.navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 30px);
}

@media all and (max-width: 600px){
    .navbar li {
        grid-column: 1 / span 3;
    }
    .container_grid{
        grid-template-columns: repeat(5, 1fr);
       
    }
    

} 


@media screen and (max-width: 600px){


    .img1{
        height: auto;
        width: 100%;

    }
    .img2 {
       
        height: auto;
        width: 500px;
    }

    .container_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px)
        
       
    }

    .img2{
        height: 450px;
        width: 450px;
    }

    .img3{
        height: 450px;
        width: 450px
    }

    .texto{
        display: flex;
        flex-direction: row;
        font-size: xx-small;
        top: 220%;
    }
    
    
    .texto1{
        display: flex;
        flex-direction: row;
        font-size: xx-small;
    }
    
}


.navbar{
    justify-items: center;
}
.navbar li {
    display: inline-block;
    margin-right: 5px;
}


nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(19, 18, 18);
    font-family: "letra";
    border: 1px solid rgb(7, 6, 6);
    gap: 15px;
    text-decoration: underline;
    background-image: linear-gradient(red, yellow);
    animation-name: mianimacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes mianimacion{
    0%{ background: red;left: 0;top: 0px;}
    25%{background: blue;left: 300px;top: 0px;}
    50%{background: yellow;left: 300px;top: 300px;}
    75% { background: orange;}
    100%{ background: red;}
}


.img4{
    height: 470px;
    width: 625px;
    
}




.pie-de-pagina{
    background-image: linear-gradient(red,orange);
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
}

.pie-de-pagina h4{
    font-size: 1.3rem;
    grid-area: contactos;
}

.pie-de-pagina h2{
    grid-area: copy;
}

.imgf{
    display: flex;
    height: 100px;
    width: 100px;
}


