

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "letra";
    src: url(../fonts/DanburySmall_PERSONAL_USE_ONLY.otf);
}
@import url(../fonts/DanburySmall_PERSONAL_USE_ONLY.otf);
@import"./particiones/variables";
@import"./particiones/header";
@import"./particiones/section";
@import"./particiones/section2";
@import"./particiones/pie-de-pagina";





 $breakpoints: (
     sm : 480px,
     md : 768px,
     lg : 1024px,
 );

 @mixin mv ($medida : 480px) {
     @media screen and (max-width: $medida) {
          @content;
     }
 }

header{
    width:100%;
    @include mv (480px) {width: 100%}
    @include mv {width:100%}
    img1 {width: 25%;}
}
section{
    width:100%;
    @include mv (768px) {width: 100%}
    @include mv {width:100%}
}

