

.section{
    background-image: linear-gradient($color-sexto, $color-quinto);
    display: grid;
    
   
    padding: 20px;
    .container_grid{
        color: $color-sexto;
      }
      
      .p1{
          color: $color-sexto;
          transform: translate(70%, 0%);
      }
    } 

  .img1{
    width: 500px;
    height: 600px;
  }
     

.bg-propio2{
    width: 100%;
    height: 100%;
    
}