.seccion2{
    display: grid;
    padding: 20px;
    text-align: end;

    .contenedor1 img{
        width: 50%;
        height: 50%;
    }
    .img4{
        width: 1000;
    }
    
    .section2 h3{
        
        text-transform: uppercase;
        color: $color-sexto;
        
    
    }
    
    .section2{
      
        .texto{
            position: absolute;
            left: 50%;
            top: 180%;
            color: $color-sexto;
            text-transform: uppercase;
            font: 'arial';
        
        }
        
        .texto1{
        text-transform: uppercase;
        color: $color-sexto;
        
        }
        
        
        .bg-propio{
            background-image: linear-gradient($color-quinto, $color-cuarto);
            position: fixed;
            flex-direction: column;
        }
    }
}

