.container_grid{
    background-image: linear-gradient($color-cuarto,$color-quinto);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
    .container_grid{
        color: $color-sexto;
      }
      
    .container_grid{

      
       .img1{
          height: 800px;
          width: 2050px; 
         
       }   
      
      
      .img2{
          height: 900px;
          width: 1000px;
      }
      
      
      .img3{
          width: 1000px;
      }
    }
}