.section2{

    background-image: linear-gradient($color-sexto,  );
    .lista{
        display: flex;
        font-size: 100%;
        color: $color-quinto;
        align-items: center;
        justify-content: center;
        
    }
    
    
    .lista ul li a{
       
        
        text-transform: uppercase;
        width: 80%;
        height: 20%;
        text-decoration: underline;
        background-color: $color-sexto;
        
    }    
}  